.tit_center {
	text-align: center;
	float: none;
}

.title .h_tit {
	font-size: 42px;
	font-weight: 600;
	color: navy;
	padding: 20px 0px;
}

.container_slide {
	max-width: 1400px;
	margin: 55px auto;
	clear: both;
}

.news_wrap {
	width: 100%;
	padding: 80px 0;
	background-color: #f8f8f8;
}

.news_wrap .news_content_wrap {
	max-width: 1400px;
	margin: 0 auto;
	overflow: hidden;
}

.news_h {
	padding-top: 50px;
	margin: 70px 0px 30px 0px;
}

.news_list .slide a {
	display: block;
}

.news_list .slide a:hover .new_img img {
	transform: scale(1.1);
}

.container_slide {
	max-width: 1400px;
	margin: 55px auto;
	clear: both;
}

.slick-slide .new_img {
	overflow: hidden;
	height: auto;
}

.slick-slide .new_img img {
	width: 100%;
	transform: scale(1);
	transition: transform .3s;
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	/* height: 100%; */
	min-height: 1px;
	margin: 0 10px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
	outline: none;
	height: auto;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.new_img .logo {
	width: 100%;
	height: 100%;
	align-self: flex-end;
}

.work-title {
	height: 100%;
	font-size: 20px;
	color: #222;
	font-weight: 600;
	letter-spacing: -0.4px;
	line-height: 1.5;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  	height: 300px;
    vertical-align: top;
    padding: 40px 38px;
	background-color: #ffffff;
	}
@media screen and (max-width: 940px) {
	.title .h_tit {
		font-size: 28px;
	}
}

@media screen and (max-width: 767px) {
	.news_wrap {
		padding: 100px 20px 40px 20px;
		box-sizing: border-box;
		height: auto;
	}
}