/* #map-div{
    /* float: left;
    display:flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    margin : 200px 50px; 
} */
#mapsection{
    align-items: center;
    
}
#map-div {
    margin: 200px 200px;
    margin-left: 200px;
    display: flex;
    gap: 90px;
    position: relative; 
}
/*face in은 JS로 처리했음*/
#map{
    width: 65%;
    height:45vw;
    max-width:1400px;
    opacity:0;
    position: relative;
    overflow: hidden;
    background: url(http://t1.daumcdn.net/mapjsapi/images/2x/bg_tile.png);
    background-size: cover;
    background-repeat: no-repeat;
    visibility: visible;
    
}
#map-info-wrap{ 
    display:flex;
    opacity:0;
    flex-direction: column;
<<<<<<< HEAD
    margin-top:50px;
    font-size: 18px;
=======
    margin-top:75px;
    gap: 35px;
>>>>>>> aa12db9d0a6a701f723a60fdb610c302360162d6
}


#map-div .map-info > p:first-child {
    font-weight: 600;
    margin-bottom: 15px;
    
}
#map-div .map-info > p:last-child {
    color: #7b7b7b;
}

/* 크기 조절 */
@media screen and (max-width: 1300px){
    #map-div {
        gap: 50px;
        margin: 200px 50px;  
    }
    #map-info-wrap{
        width:40%;
    }
    #map{
        height:585px;     
    }
}
@media screen and (max-width: 1217px){
    #map{
        height:650px;
    }
}
@media screen and (max-width: 640px){
        #map-div{
            flex-direction: column-reverse;
            align-items: center;
            margin: 0;
            margin-bottom:300px;
        }
       #map-info-wrap{
            flex-wrap:wrap;
            flex-direction:row;
            width:90%;
            gap:0;
            margin:0;
        }
        .map-info{
            width: calc(100%/2);
            margin-bottom:  30px;
        }
        #map-div .map-info > p:last-child {
            font-size:  15px;
        }
    
        #map{
            width: 90%;
            height:600px;
        }
}
    @media screen and (max-width: 430px){
        .map-info{
            width:100%;
            margin:0;
        }
    }