/* #map-div{
    /* float: left;
    display:flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    margin : 200px 50px; 
} */

#map-div {
    margin: 200px 200px;
    margin-left: 200px;
    display: flex;
    gap: 90px;
    position: relative; 
}
/*face in은 JS로 처리했음*/
#daumRoughmapContainer1656645710667{
    width: 524px;
    height:630px;
    opacity:0;
    position: relative;
    overflow: hidden;
    background: url(http://t1.daumcdn.net/mapjsapi/images/2x/bg_tile.png);
    background-size: cover;
    background-repeat: no-repeat;
    visibility: visible;
    
}
#map-info-wrap{ 
    opacity:0;
    flex-direction: column;
    margin-top:50px;
}
#map-div .map-info p{
    font-size: 18px;
}

#map-div .map-info > p:first-child {
    font-weight: 600;
    margin-bottom: 15px;
    
}
#map-div .map-info > p:last-child {
    color: #7b7b7b;
}

/* 크기 조절 */
@media screen and (max-width: 1300px){
    #map-div {
        gap: 50px;
        margin: 200px 50px;
        
    }
    #daumRoughmapContainer1656645710667{
        width:706px;
        height:100%;
    }
}
@media screen and (max-width: 640px){
        #map-div{
            flex-direction: column-reverse;
            align-items: center;
            margin: 0;
            margin-bottom:300px;
        }
       #map-info-wrap{
            flex-wrap:wrap;
            flex-direction:row;
            width:90%;
            gap:0;
        }
        .map-info{
            width: calc(100%/2);
            margin-bottom:  30px;
        }
        #map-div .map-info > p:last-child {
            font-size:  15px;
        }
    
        #daumRoughmapContainer1656645710667{
            margin: 0 20px;
            width: 90%;
        }
}
    @media screen and (max-width: 430px){
        .map-info{
            width:100%;
        }
    }